.forms {
.form-control {
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid #fff !important;
    margin-top: 20px;
    border-radius: 0 !important;
}



.card-body {
    margin-top: 20%;  
    z-index: -1;

}

.center {
    margin: 0 auto;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.forgot {
    color: #fff !important;
}

.join {
    font-size: 20px;
    color: #FCBF49;
}

.join:hover {
    font-size: 21px;
    color: #FCBF49 !important;
    text-decoration: underline;



}

.login-button {
    color: #fff !important;
    background-color: transparent !important;
    border: 2px solid #599FA5 !important;
}

.login-button:hover {
    background-color: #599FA5  !important;
}

::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }

 h1 {
     font-weight: 100 !important;
 }

 .register-button {
     margin-top: 40px;
    color: #fff !important;
    background-color: transparent !important;
    border: 2px solid #FCBF49 !important;
 }

 .register-button:hover {
    background-color: #FCBF49 !important;

 }

 .submit-button {
     padding: 10px 50px;
     border-radius: 20px;
 }
}