@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600&display=swap');

html {
  
  body {
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #131313;
    
    a {
      text-decoration: none;
      color: #fff !important;
      transition: 0.3s !important;

      
      :hover {
      color: #fff !important;

      }
      .nav-brand {
        position: relative;
        
      }
      
      
      
      
      
      
    }
    
    li {
      a {
        .create {
          position: absolute;
          right: 10%;
          // bottom: 0%;
          top: 150%;
          // left: 5%;
          color: #fff !important;
          background-color: transparent !important;
          border: 2px solid #FCBF49 !important;
          padding: 15px 35px;
          border-radius: 25px;
          font-size: 24px;
          font-weight: bold;
          transition: .2s;
        }
        
        .create:hover {
          background-color: #FCBF49 !important;
          // color: #131313 !important;
        }
        
        .login-link {
          position: absolute;
          // margin-top: 4.2%;
          right: 2%;
          background-color: transparent !important;
          font-size: large;
          border: 2px solid #599FA5 !important;
          padding: 10px 20px;
          font-size: 17px;
          font-weight: bold;
          transition: .2s;
          border-radius: 15px;
          color: #fff;
        }
        
        .login-link:hover {
          background-color: #599FA5 !important;
          
        }
      } 
    }
    
     a.navbar-brand img#logo {
      width: 200px;
      position: absolute;
      left: 45%;
      top: 5%;
      // margin-right: 100%;
      
    }
    .navbar-expand-md .navbar-nav .nav-link {
      margin-left: 30vw !important;
    }
    
    .card {
      background-color: transparent !important;
      margin: 0 auto !important;
    }
    
    #current-user {
      color: #fff !important;
    }
    #dropdown-arrow a{
      color: #FCBF49 !important;
    }

    #logout{
      color: black !important;
    }

    .mrgn-top {
      padding: 20px;
    }
  
  }
}

$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
  body {
    img#logo {
      width: 150px !important;
    }

    li {
      a{
        .create {
          position: absolute;
          right: 10px !important;
          color: #fff !important;
          background-color: transparent !important;
          border: 2px solid #FCBF49 !important;
          padding: 10px 30px;
          border-radius: 20px;
        }
      }
    }
  }
}