div {
    .navigation {
        position: absolute;
        left: 45.8%;
        font-weight: bold;
        
        a:first-of-type {
            margin-right: 10px;
        }

        a:nth-of-type(2) {
            margin-left: 10px;
            padding-bottom: 0px;
            padding-top: 0px;
        }
    }
    
    #lesson-nav {
       font-size: 20px;
    }

    #quiz-nav {
        font-size: 20px;
     }

    .active, .navlink:hover {
        font-size: 26px !important;
    }
    
    .active {
        text-decoration: underline;
        font-size: 26px !important;
    }
    
    .margin-top-container {
        padding-top: 2%;
        width: 80vw;
        margin: 0 auto;
    }
    
    .margin-top-between {
        margin-top: 1%;
        width: 80vw;
    }

    .lesson-container{
        position: relative;
        border: 2px solid #599FA5;
        border-right: 50px solid #599FA5;
        width: 100%;
        margin: 0 auto;
        padding: 1.5% 0%;
        padding-left: 1%;
        border-radius: 20px;
        
        .lesson-link {
            position: absolute;
            top: 8%;
            right: -32px;
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            
        }
    }
    
    .quiz-container{
        position: relative;
        border: 2px solid #FCBF49;
        border-right: 50px solid #FCBF49;
        margin: 0px;
        padding: 1.5% 0%;
        padding-left: 1%;
        border-radius: 20px;
        align-items: flex-end;
        
        
        .quiz-link {
            position: absolute;
            top: 20%;
            right: -32px;
            text-align: center;
            font-size: 14px;
            font-weight: bold;
        }
    }
}
